image1.bmp
3x4.bmp
4x3.bmp
grayscale.bmp
a.out
image2.bmp
image3.bmp
image4.bmp
image6.bmp
image5.bmp
image7.bmp
IMG_6855.bmp
imageErr-8bit.bmp
IMG_6865.bmp
IMG_6875.bmp
IMG_6876.bmp
input.txt
new-new-IMG_6865.bmp
new-IMG_6865.bmp
new-tux-bonaparte.bmp
new-tux-pirate.bmp
poem.txt
strFile.txt
tux-bonaparte.bmp
tux-pirate.bmp
testing.bmp
testingDecode.bmp
